@font-face {
  font-family: SebastianGothicNBP;
  src: url(fonts/SG_0.ttf);
}

a:link{
  color: #efefef;
}

a:visited{
  color: #efefef;
}

ul:hover, a:hover, li:hover{
  color: #b57cff;
}

ul > li{
  display: inline-block;
  padding-right: 10px;
}

#hearthList a, ul{
  font-family: SebastianGothicNBP;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
  text-align: center;
}

body{
  background-image: url(images/scan.png);
  background-color: #2d2d2d;
  color: #efefef;
}

pre{
  text-align: center;
  font-size: .7vw;
  padding-top: 60px;
  text-shadow: 1px 1px 7px #777777;
  color: #ffffff
}

img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footerbadge{
  text-align: left;
}

.badge{
  width: auto;
  height: auto;
  display: inline-block;
  padding-top: 10px;
}

.topM{
  width: 55%;
  margin-bottom: -5px;
  background: -moz-linear-gradient(to right, #214dff, #ad3aff, #214dff);
  height: 1px;
  border: none;
}

.bottomM{
  width: 55%;
  margin-top: -5px;
  background: -moz-linear-gradient(to right, #214dff, #ad3aff, #214dff);
  height: 1px;
  border: none;
}

.footerM{
  margin-top: 100px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png);
  height: 6px;
  border: 0;
  margin-left: -5px;
  margin-right: -5px;
}
