@font-face {
  font-family: SebastianGothicNBP;
  src: url(fonts/SG_0.ttf);
}

a:link{
  color: #ffffff;
}

a:visited{
  color: #ffffff;
}

ul.hearthList a:hover{
  color: #ffc063;
}

ul.hearthList li{
  font-family: SebastianGothicNBP;
  font-size: 12px;
  text-decoration: none;
  list-style-type: none;
  line-height: 30px;
  display: inline;
  padding-right: 8px;
  padding-left: 8px;
}

.hearthList{
  padding-left: 0px;
}

ul.hearthList a{
  text-decoration: none;
  border-style: solid;
  border-width: thin;
  border-top: none;
  border-bottom: none;

}

.navlist{
  text-align: center;
}

body{
  /*background-image: url(images/scan.png);*/
  /*background-color: #2d2d2d;*/
  background-image: url(images/diagonales-decalees.png);
  background-color: #89ace5;
  color: #efefef;
  margin-bottom: 0;
}

pre{
  text-align: center;
  font-size: .7vw;
  padding-top: 7px;
  margin-top: 60px;
  /*text-shadow: 1px 1px 7px #777777;*/
  color: #ffffff;
  font-weight: bolder;
}

.sidebar{
  height: 100%;
  font-size: 12px;
  font-family: SebastianGothicNBP;
  background-color: #050505;
  margin-left: -8px;
  top: 0;
  overflow: hidden;
  width: 120px;
  position: fixed;
  border-right-style: outset;
  border-right-width: thin;
  border-right-color: #bcbcbc;

}

.mainc{
  margin-left: 120px;

}

.sidebar a{
  display: block;
  text-decoration: none;
  padding-left: 2px;

}

.sidehr{
  margin-bottom: 5px;
  margin-left: -7px;
  height: 3px;
  background: url(images/gay.png);
  border: none;

}

img{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.badge{
  width: auto;
  height: auto;
  display: inline-block;
  padding-top: 1px;
  margin-left: 5px;
  vertical-align: top;
}

footer a:link{
  font-family: SebastianGothicNBP;
  font-size: 12px;
  color: #e5efff;
}

footer a:visited{
  color: #353535;
}

.info{
  display: inline-block;
}

.badgeBorder{
  border-style: inset;
  border-width: thin;
  border-color: #000000;
  width: 240px;
  height: 15.5px;
}

.topM{
  width: 55%;
  margin-bottom: -5px;
  background: -moz-linear-gradient(to right, #214dff, #ad3aff, #214dff);
  height: 1px;
  border: none;
}

.footerM{
  margin-top: 50px;
  background: url(images/gay2.png);
  height: 6px;
  border: 0;
  margin-left: -6px;
  margin-right: -5px;
}

.sidebarMisc{
  padding-left: 10px;
}

p.sidebarTitles{
  padding-left: 2px;
  margin-bottom: 6px;
}

ul.sidelist li{
  height: 80px;
  margin-left: 13px;
  margin-right: 4px;
}

ul.sidelist{
  padding-left: 0;
}


/*Main SubBoard CSS*/


.boardmain{
  margin-left: 120px;
}

.form{
  font-family: SebastianGothicNBP;
  font-size: 12px;
}

.firstfield label{
  background-color: #206be5;
  padding: 5px 10px 5px 2px;
  border-radius: 5px;
}

.firstfield{
  margin-bottom: 5px;
}

.secondfield label{
  background-color: #206be5;
  padding: 5px 22px 5px 2px;
  border-radius: 5px;
}
.secondfield{
  margin-bottom: 5px;
}

.thirdfield label{
  background-color: #206be5;
  padding: 5px 25px 5px 2px;
  border-radius: 5px;
}

.thirdfield{
  margin-bottom: 5px;
}

.commentfield label{
  background-color: #206be5;
  padding: 5px 5px 5px 2px;
  border-radius: 5px;
}

.commentfield{
  display: inline-grid;
  grid-template-columns: 62px 257px;
  grid-column-gap: 10px;
}

.reply{
  text-align: center;
}

input{
  background-color: black;
  color: white;
}
